<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group" style="margin-bottom: 3%">
        <%= form.label :name%>
        <select name="post[name]" id="post_name" class="form-control">
          <option value="Wilford Nader">Wilford Nader</option>
          <option value="<%=Author.first.first_name + " " + Author.first.last_name %>"><%=Author.first.first_name + " " + Author.first.last_name %></option>
          <option value="<%=Author.second.first_name + " " + Author.second.last_name %>"><%=Author.second.first_name + " " + Author.second.last_name %></option>
          <option value="<%=Author.third.first_name + " " + Author.third.last_name %>"><%=Author.third.first_name + " " + Author.third.last_name %></option>
          <option value="<%=Author.fourth.first_name + " " + Author.fourth.last_name %>"><%=Author.fourth.first_name + " " + Author.fourth.last_name %></option>
          <option value="<%=Author.fourth.first_name + " " + Author.fourth.last_name %>"><%=Author.fourth.first_name + " " + Author.fourth.last_name %></option>
          <option value="<%=Author.fourth.first_name + " " + Author.fourth.last_name %>"><%=Author.fourth.first_name + " " + Author.fourth.last_name %></option></select>
  </div>





    <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control"%>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, class: "form-control"  %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.text_field :image, class: "form-control"  %>
  </div>

  <div class="actions">
    <%= form.submit( {:class => "btn btn-success",id: "button", onsubmit: "alert('submit!');return false"})%>
  </div>

<% end %>
